<div class="post">
    <div class="post-header">
        <div class="header" *ngIf="userData">
            <p class="header-text">{{ userData.username }} {{ userData.last_name }}</p>
        </div>
        <div>
            <img class="header-image" src="https://scontent.cdninstagram.com/v/t39.30808-6/421951225_18432355696034763_7859726781791617121_n.jpg?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xMzMyeDEzMzIuc2RyLmYzMDgwOCJ9&_nc_ht=scontent.cdninstagram.com&_nc_cat=103&_nc_ohc=p-R2BEcomUEQ7kNvgG7jE03&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzM1NzQzNDQ4Mjg5NTM4NjMyMw%3D%3D.2-ccb7-5&oh=00_AfCxb3DQ4uiJ1Eq5ti43nV6Z8JL1kspEx-OpAkWl1d0EGA&oe=663A4300&_nc_sid=10d13b">
        </div>
    </div>
</div>