    <div class="post">
        <div class="post-header">
            <div class="header" *ngIf="userData">
                <img src="https://images.satu.kz/174951798_w293_h242_bad-solgar-omega.jpg">
            </div>
            <div>
                <a class="header-text" href="https://health-and-hair.kz/p95719589-bad-solgar-omega.html">БАД Solgar Omega 3 100 капсул</a>
            </div>

        </div>
        <div>
            <label for="Post">Post</label>
            <input  type="text">
            <button>send</button>
        </div>
    </div>
