<p>personal-account works!</p>

<div class="head" >
    <h1>Личные данные</h1>
    <button>Изменить</button>
</div>

<!-- <div class="main"> -->
<!-- </div class="1">

</div>
</div class="">

</div> -->
<ul>
    <li *ngFor="let data of personalData">
      <strong>ФИО:</strong> {{ data.full_name }}<br>
      <strong>Дата рождения:</strong> {{ data.date_of_birth }}<br>
      <strong>Группа крови:</strong> {{ data.blood_group }}<br>
      <strong>Диагноз:</strong> {{ data.diagnosis }}<br>
      <strong>Наличие аллергий:</strong> {{ data.allergies }}<br>
      <strong>Противопоказания:</strong> {{ data.contraindications }}<br>
      <strong>Контактный номер опекуна:</strong> {{ data.guardian_contact }}<br>
      <strong>Прикреплён к:</strong> {{ data.hospital }}<br>
    </li>
</ul>