<ng-container *ngIf="!logged">
  <h3>Login form</h3>
  <fieldset>
    <label for="username">Username: </label>
    <input type="text" id="username" [(ngModel)]="username">
  </fieldset>
  <fieldset>
    <label for="password">Password: </label>
    <input type="password" id="password" [(ngModel)]="password">
  </fieldset>
  <button (click)="login()">Login</button>
</ng-container>


<ng-container *ngIf="logged">
<div class="container">
  <div class="block-in-container-home">
    <a class="text-in-container-home" [routerLink]="['/home']">Home</a>
  </div>
  <div class="block-in-container-other">
    <a class="text-in-container-other" [routerLink]="['/contact']">Contact</a>
    <a class="text-in-container-other" [routerLink]="['/login']">Login</a> 
    <a class="text-in-container-other" [routerLink]="['/personal-account']">personal account</a>   
  </div>
</div>
<router-outlet />
</ng-container>