* {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./fon2.jpg');
    background-size: cover;
}

.asd {
    display: flex;
    width: 80%;
    max-width: 900px;
    height: 600px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
}

.root {
    width: 100%;
}

/* You can adjust the background opacity as needed */
