* {
    text-decoration: none;
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 900px; /* Example value */
    width: 100%;
    height: 100%;
    background-image: url('./fon2.jpg');
    background-size:; /* Изменено на cover */
    background-repeat: no-repeat; /* Изменено на no-repeat */
}

.asd {
    display: flex;
    height: 100%;
    align-items: stretch; /* Убедитесь, что это соответствует вашим ожиданиям */
    box-shadow: 10px 10px 10px 10px color; /* Исправлено */
    background-color: white;
}
app-root {

}

