<div class="main">
    <div class="box">
        <h1> Психологическая помощь:</h1>
        <p> «1414 » — горячая линия на базе единого call-центра по оказанию профессиональной психологической помощи всем нуждающимся;</p>

    </div>
    <div class="box">
        <h1> центр помощи детям:</h1>
        <p>  «111» — Контакт центра Службы 111 является - оказание комплексной помощи по вопросам семьи, женщин и защиты прав детей. Предотвращение острых бытовых проблем.</p>
    </div>
    <div class="box">
        <h1> Помощь предпринимателям:</h1>
        <p> 1432 — единый call-центр для сообщений об ущербе и случаев мародерства;</p>
    </div>

</div>
